//VARIABLES
//------------------------------

$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

//BASE
//------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

//AUX
//------------------------------

.bold {
  font-weight: bold;
}

//ANIMATIONS
//-------------------------------

@keyframes barGrow {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(3rem);
  }

  100% {
    transform: translateY(0);
  }
}

//MAIN
//------------------------------

.bg {
  background-image: url(../images/bg-mobile.svg);
  background-color: $very-dark-blue;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @media only screen and (min-width: 735px) {
    background-image: url(../images/bg-desktop.svg);
    background-position: bottom;
    background-size: 100vw 50vh;
  }
}

.container {
  width: min(90%, 450px);
  margin: auto;

  @media only screen and (min-width: 735px) {
    width: min(90%, 1000px);
    display: flex;
  }
}

.header {
  background-color: $dark-blue;
  padding: 4rem;
  border-radius: 1rem;
  border-top-right-radius: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
  animation-name: fadeIn, moveUp;
  animation-duration: 1s, 1s;
  animation-fill-mode: both, both;
  animation-delay: 0.25s, 0.25s;
  flex: 1;

  @media only screen and (min-width: 735px) {
    margin-bottom: 0;
  }

  &__logo {
    height: 4rem;
    object-fit: contain;
    margin-bottom: 4rem;
  }
}

.nav {
  display: flex;

  &__item {
    background-color: $very-dark-blue;
    border-radius: 1rem;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(0);
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0.5rem 0.75rem rgba(#000, 0.4);
      transform: translateY(-0.3rem);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 0 0;
    }
  }

  &__item:not(:last-child) {
    margin-right: 2rem;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    height: 2.2rem;
    object-fit: contain;
  }
}

.storage {
  background-color: $dark-blue;
  padding: 4rem;
  border-radius: 1rem;
  color: $pale-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 2.2;
  animation-name: fadeIn, moveUp;
  animation-duration: 1s, 1s;
  animation-fill-mode: both, both;
  animation-delay: 0.5s, 0.5s;

  @media only screen and (min-width: 735px) {
    margin-left: 2rem;
    padding: 4rem 2rem;
    align-self: flex-end;
  }

  &__used {
    width: 100%;
  }

  &__txt {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1.4rem;

    @media only screen and (min-width: 735px) {
      text-align: left;
    }
  }

  &__bar {
    background-color: rgba($very-dark-blue, 0.6);
    border-radius: 10rem;
    height: 2rem;
    padding: 0.35rem;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;

    &::before {
      content: "";
      display: block;
      background: linear-gradient(90deg,
          rgba(254, 160, 152, 1) 0%,
          rgba(254, 81, 147, 1) 100%);
      border-radius: 1rem;
      height: 100%;
      animation-name: barGrow;
      animation-duration: 1s;
      animation-delay: 0.9s;
      animation-fill-mode: both;
    }

    &::after {
      content: "";
      display: block;
      border-radius: 50%;
      background-color: #fff;
      width: 1rem;
      height: 1rem;
      margin-left: -12px;
      animation-name: fadeIn;
      animation-duration: 0.2s;
      animation-delay: 1s;
      animation-fill-mode: both;
    }
  }

  &__size {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__size+&__size {
    float: right;
  }

  &__left {
    background-color: #fff;
    border-radius: 1rem;
    color: rgba(#000, 0.6);
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -25%;

    @media only screen and (min-width: 735px) {
      bottom: auto;
      right: 4%;
      top: -25%;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 35px solid #fff;
        border-left: 35px solid transparent;
        right: 0;
        bottom: -25%;
      }
    }

    span.bold {
      color: #000;
      font-size: 4rem;
      margin-right: 1rem;
      letter-spacing: 0;
    }
  }
}

//FOOTER
//-------------------------------
.attribution {
  color: rgba(#fff, 0.6);
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.attribution a {
  color: inherit;
  font-weight: 700;
  transition: all .3s;
}

.attribution a:hover {
  color: hsl(228, 45%, 44%);
}